.app-container {
    text-align: center;
    background:  white;
    float: left;
    width: 30%;
    height:600px ;
    margin-left: 10%;
    overflow: hidden;
    border-radius: 10%;

}
.form-group{
    margin-left: 0;
    margin-top: 7%;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
   
   
   
   
}
.divum{
    text-align: center;
    background: linear-gradient(to top, #00A3FF, white);
    float: left;
    width: 100%;
    height:70% ;

}

input, select{
    
    width: 300px;
    padding: 7px;
    
}
select{
    
    width: 323px;
    padding: 7px;
    
}

.label{
    margin-right: 60%;
}
.imagem{
    margin-left: 15%
}
button {
    width: 60%; /* Define a largura do botão para ocupar toda a largura do contêiner pai */
    padding: 15px; /* Ajusta o preenchimento interno do botão */
    font-size: 15px; /* Ajusta o tamanho da fonte do texto do botão */
    background-color: #007bff; /* Cor de fundo do botão */
    color: white; /* Cor do texto do botão */
    border: none; /* Remove a borda do botão */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    border-radius: 10px; /* Adiciona bordas arredondadas ao botão */
    transition: background-color 0.3s ease; /* Transição suave para a cor de fundo */

}
button:hover {
    background-color: #00b30c; /* Cor de fundo do botão ao passar o mouse */
}
