header{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    background-color: rgb(255, 255, 255);
   
}
.Cadastro, .Dúvidas, .Parcerias, .Contatos, .Home {
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    padding: 10px 14px;
    border:none;
    color:black;
    border-radius: 4px;
    
    
} 
.Cadastro:hover, .Dúvidas:hover, .Parcerias:hover, .Contatos:hover, .Home:hover{
    color: #00A3FF;
}
.logoimagem{

    width: 100%;
    height: 50px;
    align-items: right;

}