.divpai{
    flex-direction: column;
    
}
.divparteum , .divpartedois {
 background: linear-gradient(to top, #00A3FF, white);
 float: left;
 width: 50%;
 height:600px ;
 overflow: hidden;
 max-width: 100%;

 
}
.divpartetres , .divpartequatro {
    background: linear-gradient(to bottom, #00A3FF, white 20%);
    float: left;
    width: 50%;
    height:600px ;
    max-width: 100%;
    flex: 1;
    font-size: 1em;
   
}
.divpartecinco, .divparteseis {
    background: linear-gradient(to top, #00A3FF, white 100%);
    float: left;
    width: 50%;
    height:600px ;
    max-width: 100%;
}
.divpartesete {
    background: linear-gradient(to bottom, #00A3FF, white );
    float: left;
    width: 100%;
    height:750px ;
    max-width: 100%;

}
.divparteoito    {
    background: linear-gradient(to top, #00A3FF, white );
    float: left;
    width: 50%;
    height:700px ;
    overflow: hidden;
    margin-top: 5%;
    max-width: 100%;
}
.divpartenove 
 {
    background: linear-gradient(to top, #00A3FF, white );
    float: left;
    width: 100%;
    height:700px ;
    overflow: hidden;
    margin-top: 5%;
    max-width: 100%;
}
.divpartedez 
 {
    background: linear-gradient(to bottom, #00A3FF, white );
    float: left;
    width: 100%;
    height:800px ;
    max-width: 100%;
    
}
.divparteonze{
    
    background: linear-gradient( white );
    float: left;
    width: 100%;
    height:900px ;
    max-width: 100%;
}



.textoum{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 200px;
    text-align:center;
    overflow:auto;
}


/*BOTÃO*/

.instale{
    width: 150px;
    height: 70px;
  
}

.textodivseis {
    margin-top: 200px;
    
}
.imagemmobile{
    margin-left: 2%;
    margin-bottom: 50%;
    margin-top: 0%;
}
.imagemprof
 {
    border: solid black;

    

}
.textoquemestausandooapp
{
    margin: 80px;
}
.avaliacao{
    margin-left: 10%;
}
.avaliaca{
    width: 300px;
    height: 500px;
    border-radius: 30px;
    margin-bottom: 3%;
    margin-left:3% ;
}
.divpai {
    font-family: 'Medium 500 Italic';
  
  
        
    }
    .cadastrar{
        border-radius: 10%;
    }
    .mobile{
        margin-left: 8%;
    }
.parceiros{
    width: 20%;
    
}
.textodivnove{
    font-size: 25px;
    text-shadow: #ff0000;
}